<%- include("partials/header.ejs") %>

<h1 class="hide" style="margin-top: 9rem;">About</h1>
<p class="hide">I'm a second-year Software Engineering student at McGill University seeking a summer internship for 2026.</p>
<p class="meow"></p>

<%- include("partials/footer.ejs") %>