<%- include("partials/header.ejs") %>

<h1 class="hide" style="margin-top: 9rem;">Contact</h1>
<ul class="hide">
    <li>Email: michaelha502@gmail.com</li>
    <li>Phone: +1 (438) 495-8068</li>
    <li>LinkedIn: <a href="https://linkedin.com/in/michael-ha-a19575296/">My Profile</a></li>
    <li>GitHub: <a href="https://github.com/tsunam-1">My Profile</a></li>
</ul>
<p class="meow"></p>

<%- include("partials/footer.ejs") %>