<%- include("partials/header.ejs") %>

<h1 class="hide" style="margin-top: 9rem;">Contact</h1>
<div class="hide">
    <p>Email: michaelha502@gmail.com</p>
    <p>Phone: +1 (438) 495-8068</p>
    <p>LinkedIn: <a href="https://linkedin.com/in/michael-ha-a19575296/">My Profile</a></p>
    <p>GitHub: <a href="https://github.com/tsunam-1">My Profile</a></p>
</div>
<p class="meow"></p>

<%- include("partials/footer.ejs") %>