<%- include("partials/header.ejs") %>

<h1 class="hide wave-title" style="margin-top: 9rem;">Welcome to my Portfolio</h1>
<p class="hide">This is the home page of my online portfolio.</p>
<p class="meow"></p>
  
<%- include("partials/footer.ejs") %>